.App {
  height: 100vh;
  text-align: center;
  background: linear-gradient(180deg, #BB3523 0%, rgba(187, 53, 35, 0) 100%);
  color: #FFF;
  padding: 2rem;
}

h1 {
  font-family: 'Gorditas', Arial, Helvetica, sans-serif;
  font-size: 36px;
  line-height: 44px;
}

button {
  width: 185px;
  height: 73px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  font-family: 'Gothic A1';
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

a {
  color: #FFF;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

p {
  font-size: 24px;
  line-height: 44px;
  padding: 1rem;
  color: #2f2f2f;
  font-family: 'Gorditas', Arial, Helvetica, sans-serif;
}
